name: PHP Composer

on:
  push:
    branches: [ "5.x" ]
  pull_request:
    branches: [ "5.x" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Validate composer.json and composer.lock
      run: composer validate --strict

    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v3
      with:
        path: vendor
        key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-php-

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress

    - name: Run test suite
      run: php vendor/bin/phpunit
    
    - name: Run PHP CS Fixer
      run: php vendor/bin/php-cs-fixer fix -v --dry-run --stop-on-violation
